<h1>Sign In</h1>
<% if alert%>
    <%= alert%>
<%end%>
<%= form_with(model: @user, url: sessions_new_path, method: :post, local: true) do |f| %>
    <% if @user.errors.any? %>
        <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
    <div class="actions"><%= f.submit "Sign In" %></div>
<% end %>